header.header 
  .container
    .row.align-item-center 
      .col-2
        .inner-logo
          a(href="/")
            img(src="/images/logo.svg", alt="Logo")
      .col-3
        .box-search
          form(
              action="/search/result"
              method="GET"
          )
            div(class="form-group d-flex mb-0")
                input(
                    type="text"
                    placeholder="Nhập từ khóa..."
                    class="form-control"
                    name="keyword"
                    value= keyword
                )
                button(
                    type="submit"
                    class="btn btn-primary"
                ) Tìm
            .inner-suggest
              .inner-list 
                //- a(href=`/song/detail/:slugSong` class="inner-item")
                //-   .inner-image 
                //-     img(src="https://backend.daca.vn/assets/images/ngay-mai-nguoi-ta-lay-chong.jpg")
                //-   .inner-info 
                //-     .inner-title Cắt đôi nỗi sầu 
                //-     .inner-singer 
                //-       <i class="fa-solid fa-microphone-lines"></i> Tăng Duy Tân 

      .col-7
        .inner-menu
          ul.d-flex.align-items-center.justify-content-end.mb-0.list-unstyled
            li.mr-3
              a(href="/" class="icon-link d-flex.align-items-center")
                i.fas.fa-home.mr-1
                |  Trang chủ
            li.mr-3
              a(href="/topics" class="icon-link d-flex.align-items-center")
                i.fas.fa-music.icon-music.mr-1
                |  Chủ đề
            li.mr-3
              a(href="/favorite-songs" class="icon-link d-flex.align-items-center")
                i.fas.fa-heart.icon-favorite.mr-1
                |  Yêu Thích
            if (user)
              li.mr-3
              a(href="/user/info" class="icon-link d-flex.align-items-center")
                i.fa-solid.fa-circle-user.mr-1
                | #{user.fullName}
              li
                a(href="/user/logout" class="icon-link d-flex.align-items-center")
                  i.fa-solid.fa-right-from-bracket.mr-1
                  |  Đăng xuất
            else 
              li.mr-3
                a(href="/user/register" class="icon-link d-flex.align-items-center")
                  i.fas.fa-user-plus.mr-1
                  |  Đăng ký
              li
                a(href="/user/login" class="icon-link d-flex.align-items-center")
                  i.fas.fa-sign-in-alt.mr-1
                  |  Đăng nhập
