extends ../../layouts/default.pug
include ../../mixins/table-tree.pug

block main
  if(role.permissions.includes("accounts_view"))
    h1 Nhóm quyền
    .card.mb-3
      .card-header Nhóm quyền
        .card-body
          .row 
            .col-8
            .col-4 
              a(
                href=`/${prefixAdmin}/roles/create`
                class="btn btn-outline-success"
              ) + Thêm mới
          table(
            class="table table-hover table-sm"
            checkbox-multi
          )
            thead
              tr
                th STT
                th Tiêu đề
                th Mô tả ngắn
                th Hành động
            tbody
              if(records.length > 0) 
                each item, index in records
                  tr
                    td #{index + 1}
                    td #{item.title}
                    td #{item.description}
                    td
                      if(role.permissions.includes("accounts_view"))
                        a(
                          href=`/${prefixAdmin}/roles/detail/${item.id}`
                          class="btn btn-secondary btn-sm mx-1") Chi tiết
                      if(role.permissions.includes("accounts_edit"))
                        a(
                          href=`/${prefixAdmin}/roles/edit/${item.id}`
                          class="btn btn-warning btn-sm mx-1") Sửa
                      if(role.permissions.includes("accounts_delete"))
                        a(
                          class="btn btn-danger btn-sm"
                          data-id = item.id
                          button-delete
                        ) Xóa
  else 
    h1 Không có quyền truy cập!