extends ../../layouts/default.pug
include ../../mixins/select-tree.pug


block main
  if(role.permissions.includes("topics_edit"))
    h1(class="mb-4") Chỉnh sửa chủ đề bài hát

    form(
      action=`/${prefixAdmin}/topics/edit/${topics._id}?_method=PATCH`
      method="POST"
      enctype="multipart/form-data"
    )

      div(class="form-group mb-3") 
        label(for="title") Tiêu đề 
        input(
          type="text"
          class="form-control"
          id="title"
          name="title"
          value=topics.title
        )
      div(class="form-group mb-3") 
        label(for="parent_id" class="form-label mb-2") Danh mục cha
        select(
          name="parent_id"
          id="parent_id"
          class="form-control form-select mb-3"
        )
          option(value="") -- Chọn danh mục cha --
          if(records)
            +select-tree(records, 1, parent_id)

      div(class="form-group mb-3") 
          label(for="desc") Mô tả
          textarea(
            class="form-control textarea-mce"
            id="desc"
            name="description"
            rows="5"
          ) #{topics.description}
      div.form-group.mb-3(upload-image)
        label(for="avatar") Ảnh
        div.custom-file
          label(for="avatar" class="btn btn-secondary") Chọn tệp
          input(
            type="file"
            class="form-control-file"
            id="avatar"
            name="avatar"
            accept="image/*"
            upload-image-input
            style="display: none;"
          )
          div(
            class="image-preview-container"
          )
            img(
              src=topics.avatar
              upload-image-preview
              class="image-preview"
            )
            button.upload-image-remove(
              upload-image-remove
              type="button"
              style="display: none;"
            ) X

      div(class="form-group mb-3")
        label(for="position") Vị trí
        input(
          type="number"
          class="form-control"
          id="position"
          name="position"
          placeholder="Tự động tăng"
          value=topics.position
          min="1"
        )  
    
      div(class="form-group form-check form-check-inline mb-3")
          input(
            type="radio"
            class="form-check-input"
            id="statusActive"
            name="status"
            value="active"
            checked=(topics.status == "active" ? true : false)
          ) 
          label(for="statusActive" class="form-check-label") Hoạt động
      div(class="form-group form-check form-check-inline mb-3")
          input(
            type="radio"
            class="form-check-input"
            id="statusInActive"
            name="status"
            value="inactive"
            checked=(topics.status == "inactive" ? true : false)
          ) 
          label(for="statusInActive" class="form-check-label") Dừng Hoạt động
            
      div(class="form-group mb-3")
        button(
          type="submit"
          class="btn btn-primary"
        ) Cập nhật
    script(src="/admin/js/topic.js")
  else 
    h1 Không có quyền truy cập!